<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceName" value="BoxServiceHost" />
    <add key="ConfigFilePath" value="C:\\DATA_Local\\Projects\\CProjects\\GeoModeler\\GeoTool\\bin\\Release\\box_config.txt" />
    <add key="LogFilePath" value="C:\\DATA_Local\\Projects\\CProjects\\GeoModeler\\GeoTool\\bin\\Release\\box_log.txt" />
    <add key="LogServiceNotifications" value="On" />
    <add key="LogServiceErrors" value="On" />
    <add key="LogJobs" value="On" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="BoxServices.BoxService" behaviorConfiguration="BoxServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/BoxService" />
            <add baseAddress="net.tcp://localhost:8000/BoxService" />
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="netNamedPipeBinding"
                  bindingConfiguration="NetNamedPipeBindingServiceConfiguration"
                  name="BoxServiceEndPoint"
                  contract="BoxServices.IBoxService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex"
                  binding="mexTcpBinding"
                  bindingConfiguration="MexTcpBindingConfiguration"
                  name="BoxServiceMetadataPoint"
                  contract="IMetadataExchange">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBindingServiceConfiguration" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false"
            transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
            maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netNamedPipeBinding>
      <mexTcpBinding>
        <binding name="MexTcpBindingConfiguration" />
      </mexTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BoxServiceBehavior">
          <serviceMetadata httpGetEnabled="False" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>